$primary: #967A60;
$secondary: #EBBA90;
$success: green;
$info: blue;
$warning: red;
$danger: #e66515;
$light: #ffecdb;
$dark: #33190D;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

@import "../node_modules/bootstrap/scss/bootstrap";

/*--------------------color pallette----------------*/
$primary-color: #967A60;
$secondary-color: #BFA995;
$tertiary-color: #6B4D32;
$highlight-color: #EBBA90;
$dark-color: #33190D;
$element-color: #402813;
$background-color: #ffecdb;

header {
  height: auto;
}
body {
  padding-bottom: 200px;
}