/* Brown Color Scheme
$primary: #967A60;
$secondary: #EBBA90;
$success: green;
$info: blue;
$warning: red;
$danger: #e66515;
$light: #ffecdb;
$dark: #33190D;
*/

/*-------------Ministry Color Sceme-----------------*/
$primary: #2F474D;      /*broadcast blue*/
$secondary: #BD4533;    /*watchful red*/
$tertiary: #848D73;     /*militant green*/
$success: #545C48;      /*tank shell*/
$info: #679F91;         /*vote blue*/
$warning: #EF7C2A;      /*deviant orange*/
$danger: red;           /*red*/
$light: #EEF1DA;        /*quiet snow*/
$dark: #3F2D2E;         /*reddish mud*/
$background: #dddab3;   /*muted beige*/

/*------------------color mapping-------------------*/
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "tertiary":   $tertiary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "background": $background
);

@import "../node_modules/bootstrap/scss/bootstrap";

header {
  height: auto;
}
body {
  padding-bottom: 200px;
}
.header-image {
  max-width: 100px;
}
.secondary-text {
  color: $secondary;
}
.primary-text {
  color: $primary;
}