$primary: #967A60;
$theme-colors: (
  primary: $primary,
);

@import "../node_modules/bootstrap/scss/bootstrap";

/*--------------------color pallette----------------*/
$primary-color: #967A60;
$secondary-color: #BFA995;
$tertiary-color: #6B4D32;
$highlight-color: #EBBA90;
$dark-color: #33190D;
$element-color: #402813;
$background-color: #ffecdb;

header {
  height: auto;
}